[CONFIGURATION]
api_id=12345678
api_hash=deff1f2587358746548deadbeef58ddd
phone_number=5526986587745
data_path=_data
device_model=UT_DEVICE_01

[PROXY]
type=HTTP
address=1.2.3.4
port=4444
username=ut_username
password=ut_password
rdns=true

[FINDER]
enabled=true

[FINDER.RULE.UT_Finder_Demo]
type=regex
regex=term1|term2|term3
notifier=NOTIFIER.DISCORD.NOT_002

[NOTIFIER.DISCORD.NOT_001]
webhook=https://uri.domain.com/webhook/001
prevent_duplication_for_minutes=240

[NOTIFIER.DISCORD.NOT_002]
webhook=https://uri.domain.com/webhook/002
prevent_duplication_for_minutes=240
