name: CI

on:
  push:

    paths-ignore:
      - '**/*.md'
      - '**/docs/*.md'
      - '**/.github/workflows/deploy.yml'

  pull_request:
    branches:
      - develop
      - main

    paths-ignore:
      - '**/*.md'
      - '**/docs/*.md'

jobs:
  CodeQuality:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
    - name: Run Code Quality
      run: |
        tox -e quality

    - name: Run Unittests and Code Coverage
      run: |
        tox -e coverage
  TestsAndCodeCoverage:
    runs-on: ubuntu-latest
    needs: CodeQuality

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
    - name: Run Unittests and Code Coverage
      run: |
        tox -e coverage